
.crorsList{
    height: 79.98px;
     cursor: pointer;
     padding: 1rem;
     display: flex;
  
  }
  
  .crorsList p{
    color: black;
  
  }
  .notes{
     width: 74.9%;
     padding: 10px;
     margin-top: -20px;
  
  
  }
  
  .btn-close{
    position: absolute;
    top: 30%;
    right: 5%;
  }
  
  .list-group{
    border-bottom: solid 1px rgba(0, 0, 0, 0.226);
    overflow-y: auto;
    max-height: 75vh;
    margin-right: 5px;
  }
  
  
  .list-group::-webkit-scrollbar{
    width: 7px;
  }
  .list-group::-webkit-scrollbar-track{
    background: #ccc ;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  
  .list-group::-webkit-scrollbar-thumb{
     background: #666;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
  }
  .video-list{
    overflow: hidden;
  }
  
  .close{
    position: absolute;
    opacity: 0;
  }
  
  .closeBar{
      width: 150px;
      height: 40px;
      position: absolute;
      border: 1px solid #6a6f73;
      border-right: 0;
      left: 100%;
      top: 1.6rem;
      transition: transform 400ms ;
      transform: translateX(-2.5rem);
      cursor: pointer;
      -webkit-transition: transform 400ms ;
      -moz-transition: transform 400ms ;
      -ms-transition: transform 400ms ;
      -o-transition: transform 400ms ;
      -webkit-transform: translateX(-2.5rem);
      -moz-transform: translateX(-2.5rem);
      -ms-transform: translateX(-2.5rem);
      -o-transform: translateX(-2.5rem);
  }
  
  .closeBar:hover{
    background-color: #6a6f73;
    transform: translateX(-9.4rem);
    -webkit-transform: translateX(-9.4rem);
    -moz-transform: translateX(-9.4rem);
    -ms-transform: translateX(-9.4rem);
    -o-transform: translateX(-9.4rem);
  }
  
  
  .addAnnoce{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .addAnnoce:hover{
    background-color: #6a6f73;
  }
  
  .addcomntAnnoce textarea{
    width: 100%;
    height: 20%;
    resize: none;
  }
  
  .controlAnnonce{
    margin-left: 73%;
    margin-top: 10px;
  }
  
  .controlAnnonce button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
  
  
  .reviewsContent{
    /* width: 400px; */
    width: 100%;
    height: 100%;
    background: #111;
    padding: 20px 30px;
    border:1px solid #444;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
   
  }
  
  .star{
    font-size: 3rem;
    color: #fff;
  } 
  
  .starActive{
    font-size: 3rem;
    color: yellow;
  }
  
  .star:hover{
    cursor: pointer;
    color: yellow;
  }
  
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  
  form .textarea{
    height: 150px;
    width: 100%;
    overflow: hidden;
  }
  
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  
  form .btn{
     height: 45px;
     width: 100%;
     margin: 15px 0;
  
  }
  
  form .btn button{
    height: 100%;
    width: 50%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  
  form .btn button:hover{
    background-color: #1b1b1b;
  }
  
  
  
  
  
  
  
  
  @media (max-width:991px){
    .notes{
      width: 100%;
      margin-top: 10px;
   }
   .closeBar{
    opacity: 0;
   }
  
  }
  