<!-- Courses -->

<div class="courses">
   <!-- Menu -->
   <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
    <div class="menu_close_container">
      <div class="menu_close">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="search">
      <form action="#" class="header_search_form menu_mm">
        <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
        <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
          <i class="fa fa-search menu_mm" aria-hidden="true"></i>
        </button>
      </form>
    </div>
    <nav class="menu_nav">
      <ul class="menu_mm">
        <li class="menu_mm"><a href="index.html">Acceuil</a></li>
        <li class="menu_mm"><a href="#">A propos de nous</a></li>
        <li class="menu_mm"><a href="#">Cours</a></li>
        <li class="menu_mm"><a href="#">Page</a></li>
        <li class="menu_mm"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <!-- Courses Main Content -->
      <div class="col-lg-12">
        <div class=" mb-5">
          <form action="#" id="courses_search_form" >
            <select id="courses_search_select" >
              <option>Formations Bureautiques</option>
              <option>Word</option>
              <option>PowerPoint</option>
              <option>Excel</option>
            </select>
          </form>
        </div>

        <div class="container">
          <div class="row">
            <!-- Course -->
            <div class="col-lg-4 course_col mb-5">
              <div class="course" >
                <div class="course_image "><img class="imgCourse"  src="assets/images/course_4.png" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">Word</a></h3>
                  <div class="course_text">
                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto">$130</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
              <div class="course">
                <div class="course_image"><img class="imgCourse" src="assets/images/course_5.jpg" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">Excel</a></h3>

                  <div class="course_text">

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto">Free</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
              <div class="course">
                <div class="course_image"><img class="imgCourse" src="assets/images/course_6.png" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">PowerPoint</a></h3>

                  <div class="course_text">

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto"><span>$320</span>$220</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
              <div class="course">
                <div class="course_image"><img class="imgCourse" src="assets/images/course_6.png" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">PowerPoint Débutant</a></h3>

                  <div class="course_text">

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto"><span>$320</span>$220</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
              <div class="course">
                <div class="course_image"><img class="imgCourse" src="assets/images/course_6.png" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">PowerPoint Intermédiaire</a></h3>

                  <div class="course_text">

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto"><span>$320</span>$220</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Course -->
            <div class="col-lg-4 course_col">
              <div class="course">
                <div class="course_image"><img class="imgCourse" src="assets/images/course_6.png" width="200px" height="200px" alt=""></div>
                <div class="course_body">
                  <h3 class="course_title"><a href="course.html">PowerPoint Expert</a></h3>

                  <div class="course_text">

                  </div>
                </div>
                <div class="course_footer">
                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                    <div class="course_info">
                      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                      <span>20 Etudiants</span>
                    </div>
                    <div class="course_info">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <span>5 Notes</span>
                    </div>
                    <div class="course_price ml-auto"><span>$320</span>$220</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- modal -->
