
h1{
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: -.5px;
    margin-bottom: 34px;
}

h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}




.courseCard{
    display: flex;
    border: solid 1px grey;
}

.cardImage{
    padding-top: 10px;
    padding-right: 10px;
}


.CardContent{
    width: 390px;
    display: flex;
    flex: 0 1 auto;
    min-width: 1px;
    flex-direction: column;
    line-height: 1.6;
    position: static;
    text-align: left;
    font-size: 13px;
    padding-top: 0;
    font-size: 13px;

}

.CardAction{
    display: flex;
    flex: 0 1 auto;
    min-width: 1px;
    flex-direction: column;
    line-height: 1.6;
    position: static;
    text-align: right;
    font-size: 13px;
    padding-top: 0;
    font-size: 13px;
}

.cardPrice{
    width: 160px;
    display: flex;
    flex: 0 1 auto;
    min-width: 1px;
    flex-direction: column;
    line-height: 1.6;
    position: static;
    text-align: right;
    font-size: 13px;
    padding-top: 0;
    font-size: 13px;

}



.col-lg-3 h2{
    margin-right: 10px;
    font-weight: 400;
    font-size: 18px;
    color: #3e4143;
}

.course_price{
    font-size: 36px;
    font-weight: 700;
    color: #1c1d1f;
}

.col-lg-3 button{
    color: #fff;
    background-color: #a435f0;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    padding: 16px 12px;
    font-size: 15px;
    line-height: 1.35135;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
}


.col-lg-3 hr{
    border-top: 1px solid #f7f9fa;
}

.promotion{
   color: black;
   margin-bottom: 5px;
}

.col-lg-3 input{
    height: 34px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1.287;
    position: relative;
    z-index: 2;
    float: left;
    width: 75%;
    margin-bottom: 0;
}

.col-lg-3 label{
    padding-top: 4px;
    padding-left: 10px;
    height: 34px;
    width: 25%;
    background-color: #a435f0;
    color: white;
    cursor: pointer;

}



@media(max-width:991px){
    .col-lg-3 label{
        padding-top: 4px;
        padding-left: 38px;
        
    
    }

    .courseCardList{
        margin-bottom: 40px;
    }

}